@keyframes time {
    form {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes heart {
    form {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    to {
        transform: scale(1);

    }
}

@keyframes line {
    form {
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(360deg);
    }
}