.navigation {
    display: flex;
    align-items: center;
    height: 80px;
    &__logo {
        display: flex;
        &-logotip {
            width: 30px;
            height: 30px;
        }
        &-title {
            margin-left: 12px;
        }
    }
    &__items {
        display: flex;
        min-width: 350px;
        list-style-type: none;
        margin-left: 350px;  
    }
    &__link {
        text-decoration: none;
        margin-right: 35px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        color: #2F281E;
        border-bottom: 4px solid transparent;
        transition: all 0.5s;
        &:hover {
            border-bottom: 4px solid $main-color;
            
            
        }
    }
    &__button {
        display: flex;
        margin-right: 25px;
        &-sign-in {
            margin-right: 25px;
            &:hover{
                background-color:$main-color;
                color:#fff;
                transition: all 0.5s;
            }
        }
        &-sign-up {
            &:hover {
                background-color:$main-color;
                color:#fff;
                transition: all 0.5s;
            }
        }
    }
}
.button {
    background-color: #fff;
    border: 1px solid #bcd0e5;
    border-radius: 5px;
    width: 102px;
    height: 46px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    cursor: pointer;
}

.top {
    display: flex;
    max-width: 520px;
    padding-top: 45px;
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        line-height: 54px;
        color: #2F281E;
        
    }
    &__text {
        padding-top: 30px;
        width: 460px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        color: #544837;

    }
    .abstract {
        display: flex;
        align-items:center;
        margin-top: 45px;
        &__button {
            margin-right: 30px;
        }
        .text__link {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-decoration-line: underline;
            text-decoration-thickness: 1px;
            color:$main-color;
            &::after {
                background-image: url(../icons/Bitmap.svg)
            } 
        }
    }
    &__image {
       max-width: 600px; 
        
    }
}
.title {
    margin-top: 120px;
}
